* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import "./spalsh";
@import "./home";
@import "./register";
@import "./dashboard";
@import "./navbar";
@import "./addpeople";
@import "./sidebar";
@import "./admin.scss";
